.logoBar-div{
    height: 150px;
    display: flex;  
    justify-content: space-between;
}
.logoBar-div img{
    height: 150px;
    width: 410px;
}
.logoBarTag-div{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoBarTag-container{
    padding-left: 80px;
}
.logoBarTag-container p{
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 4px;
}