.loginButton-div{
    width: 110px;
}
.loginButton-container{
    border-radius: 10px;
    background-color:floralwhite;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(39, 39, 44, 0.479) 1.95px 1.95px 2.6px;
}
.loginButton-container:hover{
    cursor: pointer;
    box-shadow: rgba(47, 47, 48, 0.055) 1.95px 1.95px 2.6px;
}
.loginButton-container p{
    font-size: 20px;
    font-weight: bolder;
}